{% extends 'booktracker/general.html' %}

{% block title %} Список книг {% endblock %}

{% block content %}
  <div class="book_list">
    {% for book in book_list %}
      <div class="book_card">
        <div class="book_card_image">
          <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRqR_RM_UqMS0KJBo4Sn7DJeWWNNyCTua1vJg&usqp=CAU"
               width="100%" alt="Тест обложка">
        </div>
        <div class="infobloc">
          <div>{{ book.title }}</div>
          <div>{{ book.author }}</div>
          <div>{{ book.page_num }}</div>
        </div>
        <div class="actionbar">
          <input type="button">
        </div>
      </div>
    {% endfor %}
  </div>
{% endblock %}