{% extends 'booktracker/general.html' %}

{% block title %}
  {{ book.title }}
{% endblock %}

{% block content %}
  <div class="book_card">
    <div class="book_card_image">
      <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRqR_RM_UqMS0KJBo4Sn7DJeWWNNyCTua1vJg&usqp=CAU"
           width="100%" alt="Тест обложка">
    </div>
    <div class="infobloc">
      <div>{{ book.title }}</div>
    </div>
  </div>
  <div class = 'read'>
  <form method="post">
    {% csrf_token %}
    {{ form.as_p }}
  <button type="submit">Прочёл</button>
  </form>
  <form method="post">
    {% csrf_token %}
    {{ new_attachment.as_p }}
    {{ new_attachment.page_attachment}}
  <button type="submit">Добавить цитату</button>
  </form>
  </div>

{% endblock %}